---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<body class="bg-gray-100 font-sans leading-normal tracking-normal">

		<!-- Contenido de la página -->
		<div class="container mx-auto">
		  <header class="bg-white shadow">
			<h1 class="flex items-end h-14 font-medium text-black">Bienvenido a nuestra app de salud</h1>
			<!-- Aquí iría el contenido del encabezado -->
		  </header>
	  
		  <main class="my-8 h-96  ">
			<!-- Aquí iría el contenido principal de la página -->
			<div class="rounded-lg flex-s space-y-3 flex-col flex mx-auto my-auto w-9/12 h-5/6 justify-center items-center bg-gray-300 border-2 border-black">
				<h1 class="font-semibold "
				>
				Hola usuario, bienvenido a AppSalud</h1>
				<div class="bg-blue-600 hover:cursor-pointer rounded-xl h-12 w-36 font-medium flex justify-center items-center">
					<h2>Medico</h2>
				</div>
				<div class="bg-blue-600 hover:cursor-pointer rounded-xl h-12 w-36 font-medium flex justify-center items-center">
					<h2>Nutricionista</h2>
				</div>
				<div class="bg-blue-600 hover:cursor-pointer rounded-xl h-12 w-36 font-medium flex justify-center items-center">
					<h2>Consulta</h2>
				</div>
			</div>
		  </main>
	  
		  <footer class="bg-gray-200 shadow">
			<h2>Este es el footer </h2>
			<!-- Aquí iría el contenido del pie de página -->
		  </footer>
		</div>
	  
	  </body>
</Layout>


