---
import Acerca from "../components/Vue/Acerca.vue";
import Header from "../components/Vue/Header.vue";
import Footer from "../components/Vue/Footer.vue";
import Back from "../components/Vue/Back.vue";
---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de</title>
</head>
<body>
    <Header/>
    <div class="text-box bg-white p-6 rounded-lg shadow-md mx-auto">
        <Back client:load/>
        <Acerca client:load/>
    </div>
    <Footer/>
</body>
</html>